{% extends 'base.html' %}

{% block title %} Super Secret {% endblock %}

{% block content %}

<h1 class="display-1">You're in! Welcome {{ user.first_name }} {{ user.last_name }}! </h1>

<ul>
  <h3 class="display-3">Your feedback!</h3>
    {% for feedback in user.feedback %}
    <li> {{ feedback.title }} 
        <small>{{ feedback.content }} 
            <small><a href="/users/{{ user.username }}">{{ feedback.username }}</a></small>
            <form>
                {{form.hidden_tag()}}
                <button class="btn btn-primary"
                        formmethod="GET"
                        formaction="/feedback/{{ feedback.id }}/update">
                  Edit
                </button>
                <button class="btn btn-danger"
                        formmethod="POST"
                        formaction="/users/{{ feedback.id }}/delete">
                  Delete
                </button>
              </form>
        </small></li>
        {% endfor %}
</ul>

<a href="/users/{{ user.username }}/add_feedback" class="btn btn-lg btn-info">Add Feedback</a>
<a href="/logout" class="btn btn-lg btn-info"> Logout </a>

<h3 class="display-3">All feedback!</h3>
{% for feedback in all_feedback %}
<li> {{ feedback.title }} 
  <small>{{ feedback.content }} 
      <small><a href="/users/{{ user.username }}">{{ feedback.username }}</a></small>
      <form>
          {{form.hidden_tag()}}
          <button class="btn btn-primary"
                  formmethod="GET"
                  formaction="/feedback/{{ feedback.id }}/update">
            Edit
          </button>
          <button class="btn btn-danger"
                  formmethod="POST"
                  formaction="/users/{{ feedback.id }}/delete">
            Delete
          </button>
        </form>
  </small></li>
  {% endfor %}

{% endblock %}